.product-text-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.product-category {
  color: #979797;
  font-family: "Almarai", sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-title {
  color: #333;
  font-family: "Almarai", sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-rating {
  color: #ffc107;
  font-family: "Almarai", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.brand-label {
  color: #555;
  font-family: "Almarai", sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 5px;
}

.brand-name {
  color: #333;
  font-family: "Almarai", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.specifications-title {
  color: #555;
  font-family: "Almarai", sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
}

.product-description {
  color: #666;
  font-family: "Cairo", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  margin-top: 10px;
}

.product-price {
  height: 46px;
  width: 125px;
  text-align: center;
  padding: 10px;
  border-radius: 9px;
  color: #ffffff;
  font-family: "Almarai", sans-serif;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid #28a745;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-to-cart-button {
  cursor: pointer;
  text-align: center;
  height: 45px;
  width: 150px; 
  border-radius: 9px;
  border: none;
  background-color: #343a40; 
  color: #ffffff;
  font-family: "Almarai", sans-serif;
  font-size: 16px; 
  font-weight: normal;
  transition: background-color 0.3s, transform 0.3s; 
}

.add-to-cart-button:hover {
  background-color: #495057; 
  transform: scale(1.05); 
}
@media (max-width: 370px) {

  .product-price {
    width: 100px !important;
    padding: 5px;
    font-size: 15px;
  }
  .add-to-cart-button {
    height: 45px;
    width: 112px !important; 
    font-size: 16px; 
  }
  

}
