.product-gallary-card {
  height: 470px !important;
  width: 370px;
  border-radius: 29px;
  background-color: #ffffff;
}
.image-gallery-slide {
  width: 372px;
  height: 470px;
  border-radius: 29px;
}
